@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: blueviolet;
  overflow-y: hidden;
}

.grid__layout__container {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  min-width: 1200px;
  max-width: 2200px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  grid-template-areas: 'header header' 'sidebar main';
}

.grid__layout__header {
  background-color: aquamarine;
  grid-area: header;
}

.grid__layout__sidebar {
  background-color: burlywood;
  grid-area: sidebar;
}

.grid__layout__main {
  background-color: chartreuse;
  grid-area: main;
}

@media (min-width: 1200px) {
  .grid__layout__container {
    overflow-x: unset;
  }
}

@media (min-width: 2200px) {
  .grid__layout__container {
    margin: 0 auto;
  }
}
