@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: blueviolet;
  overflow-y: hidden;
}

.grid__layout__container {
  block-size: 100vh;
  block-size: 100dvh;
  min-width: 1200px;
  max-width: 2200px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  grid-template-areas: 'sidebar header' 'sidebar main';
}

.grid__layout__header {
  grid-area: header;
  height: 60px;
}

.grid__layout__sidebar {
  background-color: burlywood;
  grid-area: sidebar;
  width: 250px;
  padding-top: 95px;
}

.grid__layout__main {
  background-color: chartreuse;
  grid-area: main;
  padding-top: 35px;
}

@media (min-width: 1200px) {
  .grid__layout__container {
    overflow-x: unset;
  }
}

@media (min-width: 2200px) {
  .grid__layout__container {
    margin: 0 auto;
  }
}
